<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesion</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <section>
            <div class="logoYbusc">
                <div class="logo">
                    <a href="/">
                        <img src="/images/logo-mercado-liebre.svg" alt="logo" >
                    </a>
                </div>
                <div class="buscador">
                    <input type="text" placeholder="Buscar productos, marcas">
                    <button type="submit"> <i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i></button>
                </div>
            </div>
            <div class="slogan">
                <i class="fa-solid fa-hand-holding-dollar" style="color: #000000;"></i>
                <p>compra en cuotas y sin tarjeta de credito</p>
            </div>
        </section>
        <nav>
            <div class="opciones">
                <ul>
                    <li>
                        <a href="#">Ofertas</a>
                    </li>
                    <li>
                        <a href="#">Tiendas Oficiales</a>
                    </li>
                    <li>
                        <a href="#">Vender</a>
                    </li>
                    <li>
                        <a href="#">Ayuda</a>
                    </li>
                </ul>
            </div>
            <div class="cuentas">
                <ul>
                    <li>
                        <a href="/register">Crea tu cuenta</a>
                        <i class="fa-regular fa-address-card" style="color: #000000;"></i>
                    </li>
                    <li>
                        <a href="#">Ingresa</a>
                        <i class="fa-solid fa-arrow-right-to-bracket" style="color: #000000;"></i>
                    </li>
                    <li>
                        <a href="#">Mis compras</a>
                        <i class="fa-solid fa-basket-shopping" style="color: #000000;"></i>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="burger-menu">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>

    <main>
        <form action="" method="post">
            <input type="text" name="usuario" placeholder="Nombre de usuario">
            <input type="password" name="password" placeholder="Contraseña">
            <input type="submit" name="enviar" class="enviar">
        </form>
    </main>

    <footer>
        <div class="infor">
            <section>
                <i class="fa-solid fa-credit-card"></i>
                <b>Paga con tarjeta o en efectivo</b>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section>
                <i class="fa-solid fa-gift"></i>
                <b>envio gratis desde $2500</b>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section>
                <i class="fa-solid fa-user-shield"></i>
                <b>Seguridad, de principio a fin</b>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </section>
        </div>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>